@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(30 41 59 );
    border-radius: 5px;
}
